<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul> 
        <% car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :img %>
    <%= form.text_field :img %><hr>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %><hr>
  </div>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make %><hr>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year %><hr>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %><hr>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>