  <body>

     
    <% @cars.each do |car| %>

    <div class="card" style="width: 18rem;">
  <a href="/cars/<%= car.id%>"> 
  <img src=<%= car.img%> height="150" width="150"><br>
  </a>

  <div class="card-body">
    <strong > Name:</strong>
    <%= car.name %><br>

    <strong>Make:</strong>
      <%= car.make %><br>

    <strong>Year:</strong>
    <%= car.year %><br>

  </div>
</div>
          
 <% end %>
    
 </body>
  





