<table>
  <%# <thead>
    <tr>
      <th>image</th>
      <th>Name</th>
      <th>make</th>
      <th>Year</th>
      <th>price</th>
      <th colspan="5"></th>
    </tr>
  </thead> %>

  <tbody>

      <%= link_to 'Add New Car', new_car_path %>
    <% @cars.each do |car| %>
      <tr>
         
         
    <td>
    
      <a href="/cars/<%= car.id%>"> 
        <img src=<%= car.img%> height="100" width="100">
      </a>
      </td> 
      <br>

 
         
        <td><%= car.name %></td><br>

        <td><%= car.make %></td><br>

        <td><%= car.year %></td>

        <td><%= car.price %></td>
 
        <td><%= car.Phone %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>




