<table>
  <thead>
    <tr>
      <th>image</th>
      <th>Name</th>
      <th>make</th>
      <th>Year</th>
      <th>price</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
         <td><%= car.image %></td>
        <td><%= car.name %></td>
        <td><%= car.make %></td>
        <td><%= car.year %></td>
        <td><%= car.price %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>

