


  <body>

     
    <% @cars.each do |car| %>
      
         <div class="flex-container">
        <div class="item1"><a href="/cars/<%= car.id%>"> 
        <img src=<%= car.img%> height="150" width="150"><br>
      </a>
      
      <strong > Name:</strong>
        <%= car.name %><br><br>

        <strong>Make:</strong>
        <%= car.make %><br><br>

        <strong>Year:</strong>
        <%= car.year %><br><br>


      
      </div>
        
    </div>
      
    <% end %>
    
  </body>
  





