<p id="notice"> <%= notice%> </p>

<p>
<strong>image:</strong>
  <%= car.img%>
</p>

<p>
<strong>name:</strong>
  <%= car.name%>
</p>

<p>
<strong>make:</strong>
  <%= car.make%>
</p>

<p>
<strong>year:</strong>
  <%= car.year%>
</p>

<p>
<strong>price:</strong>
  <%= car.price%>
</p>