
<h1> Show Cars</h1>


<p>
<img src=<%= @car.img%> height="200" width="200"> </p>

<p> 
<strong>name:</strong>
  <%= @car.name%> </p>


<p>
<strong>make:</strong>
 <%= @car.make%> </p>
<p> 
<strong>year:</strong>
 <%= @car.year%> 
 </p>

<p>
<strong>price:</strong>
  <%= @car.price%> 
  </p>

  <p>
<strong>Phone:</strong>

  <%= @car.Phone%> 
  </p>






<% if current_user.id == @car.user.id %>
<div class="btn-group" role="group" aria-label="Basic example">
 <%= link_to 'Edit', edit_car_path(@car) , :class => "btn btn-secondary" %>
 <%= link_to 'Delete', @car, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-secondary" %>
</div>
 <% end %>
 <br>
 <div class="btn-group" role="group" aria-label="Basic example">
 <%= link_to 'Back', cars_path , :class => "btn btn-secondary"%> 
 </div>
