<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
        
       <%# SignUp, signin,signOut %>
       <% if (user_signed_in?)%>
       <%= link_to 'signOut', new_user_session_path, method: :delete%>
       <%= link_to 'SignIn', edit_user_registration_path %>

       <% else %>
       <%=  link_to 'signIn', new_user_session_path %>

       <% end %>

       <% if (user_signed_in?)%>
      <%= link_to 'edit', edit_user_registration_path %>

      <%else%>
      <%=  link_to 'SignUp', new_user_registration_path %>

      <%end%>
       <%= link_to 'cars', cars_path %>

    <%= yield %>
  </body>
</html>
